.article-cards {
    text-align: end;
}

.prop-class {
    text-align: initial;
}

.img-celebrity {
    width: 50%;
    text-align: center;
    margin: 13% 0px 0px 0px;
}

.img-class {
    text-align: -webkit-left;
}

