.mes-body{
    position: absolute;
    left: 35%;
    top: 10%;
    z-index: 5;
    background-color: white;
    height: 20vh;
    width: 30vw;
    padding: 10px;
    border: solid 2px black;
  }
  

.message {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 
}
.message h2 {
  text-align: center;
}
.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.controls button {
  height: 4vh;
  width: 8vw;
  border-radius: 10px;
}