body{
  font-family: sans-serif;
  font-size: 20px;
}
h1{
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  color: green;
}
button{
  padding: 15px;
  font-size: 30px;
  background-color: rgb(190, 240, 185);
 margin:20px 20px;
 border: 2px solid green;
 border-radius: 10%;
 color: green;
}