.btn.inactive {
    opacity: 0.5;
}
.btn{
    font-family: sans-serif;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 0;
    background-color: grey;
    box-shadow: none;
    margin: 20px 15px 60px;
    color: white
}