.contacts {
	display: flex;
	justify-content: center;
	align-items: center;
}
.contacts li img {
	width: 150px;
	height: 150px;
}
ul {
	list-style: none;
}
span {
	width: 200px;
	padding: 0 60px;
	font-size: 2em;
	font-weight: bold;
}
li {
	width: 150px;
	padding: 0 40px;
	font-size: 28px;
}
button {
	background-color: rgb(218, 5, 5);
	padding: 10px 20px;
	margin: 0 10px;
	border-radius: 10px;
	color: #ffffff;
	font-size: 20px;
	text-transform: capitalize;
}
