.picture {
    width: 60px;
}

.name {
    text-align: center;
    padding-right: 20px;
}

.popularity {
    text-align: center;
    padding-right: 20px;
}

.buttonDelete {
    position: relative;
}

.buttonDelete button {
    position: absolute;
    top: 32px;
    background-color: rgb(148, 0, 0);
    color: white;
    border: 1px solid rgb(148, 0, 0);
}