.picture {
    width: 60px;
    padding: 0 80px 0 0;
    margin: 0 0 0 50px;
}

.name {
    text-align: left;
    padding-right: 20px;
}

.popularity {
    text-align: left;
    padding-right: 20px;
}

.buttonDelete {
    position: relative;
}

.buttonDelete button {
    position: absolute;
    top: 32px;
    background-color: rgb(148, 0, 0);
    color: white;
    border: 1px solid rgb(148, 0, 0);
    margin-left: 75px
}