.Table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 5vw;
}

.table-content {
  width: 70%;
}

table {
  border: 1px solid #999;
  border-radius: 5px;
}

thead {
  background-color: #111;
  color: #fff;
}

tbody {
  background-color: #aaa;
}


td {
  width: 33%;
}

th {
  background-color: #999;
  margin: 5vh 0;
}