.Table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 5vw;
  text-align: center;
}

table {
  border-radius: 5px;
  background-color: #333;
}

thead{
  color: #fff;
}

th {
  padding: 2vh 0;
}

td {
  width: 33%;
  background-color: #fff;
}