.theme-btn {
    background: #ff3a72;
    border: 1px solid #ff3a72;
    color: #ffffff;
    text-transform: uppercase;
width: 80%;
}

.info {
background: #17a2b8;}

.danger {
background: #bd2130;}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}