.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-contacts {
  padding: 3% 5%;
}

.app-contact-btn {
  color: #ffffff;
  background-color: blue;
  height: 30px;
  margin-bottom: 5%;
}

.app-contact-btn:hover {
  cursor: pointer;
}
