.sort-btn {
    background-color: rgb(99, 122, 115);
    padding: 10px 80px;
    border: 0px;
    color: white;
    font-weight: 800;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.6s;
}

.sort-btn:hover {
    background-color: rgb(77, 94, 88);
    transition: 0.2s;
}