
span.stars span.marked::before{
    content: "\2605";
    position: absolute;
    color: goldenrod;
}
span.stars span:hover::before{
    content: "\2605";
    position: absolute;
    cursor: pointer;
    color: goldenrod;
}