/* .App {
  text-align: center;
} */

nav {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
}
nav h2 {
  margin: 0;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  margin: 80px;
}

.flex-container div:last-child {
  margin-top: 40px;
}

/* 
table {
  width: 100%;
}

td {
  width: 25%;
}
*/

td img {
  width: 100%;
}
table {
  table-layout: auto;
  text-align: center;
}
td {
  width: 25%;
}
