.celebrityCard {
  border: none;
  padding: 1em 0;
  height: 100px;
  border-bottom: 2px solid #222;

  .celebrityLine {
    display: flex;
    align-items: stretch;
    justify-content: start;
    width: 90%;
    margin: auto;

    .celebrityInfo {
      background-color: white;
      -webkit-box-shadow: 5px 5px 10px 5px rgba(230, 230, 230, 1);
      -moz-box-shadow: 5px 5px 10px 5px rgba(230, 230, 230, 1);
      box-shadow: 5px 5px 10px 5px rgba(230, 230, 230, 1);
      border: 2px solid #222;
      width: 90%;
      margin: 0;
      z-index: 0;

      p {
        padding: 0 20px;
        font-weight: 700;
        color: #222;
        small {
          color: #aca3a3;
          font-weight: 200;
        }
      }
    }

    div {
      height: 100px;
      display: flex;
      align-items: center;

      img {
        height: 100%;
      }

      p {
        text-align: left;
      }
    }
  }

  div:first-of-type {
  }
}
