button {
    border: 2px outset lightgoldenrodyellow;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 800;
    color: gray;
}

button:hover {
    background-image: linear-gradient(lightgoldenrodyellow, khaki);
    cursor: pointer;
}

.ContactList {}

.ContactList__buttons {
    display: flex;
    justify-content: space-between;
}
