.table-img{
    max-width:80px;
    height:auto;
    border-radius: 10px;
}
.table-name{

}
.table-popularity :nth-child(n){
    margin:10px;
}
td{
    min-width:300px;
}
.button-delete{
    padding: 10px;
}