* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  border: 5px solid black;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

.Card img {
  /* width: 80%; */
  height: 350px;
  border: 10px solid rgb(190, 190, 190);
  border-radius: 10px;
}

.Card > *:nth-child(3) {
  font-size: 1rem;
  font-weight: 300;
}

.Card * {
  margin: 5px;
}