* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(70, 70, 70);
}

.Card {
  width: 300px;
  border: 5px solid rgb(100, 100, 100);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

.Card img {
  width: 80%;
  border: 10px solid rgb(190, 190, 190);
  border-radius: 10px;
}

.Card > *:nth-child(3) {
  font-size: 1rem;
  font-weight: 300;
}

.Card * {
  margin: 5px;
}