table {
    background-color: rgb(238, 238, 238);
}

.btn-section {
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 40px;
    background-color: rgb(180, 148, 209);
    color: rgb(73, 15, 128);
    font-size: 1.2em;
    font-weight: bold;
    margin: 30px;
    padding: 20px 30px;
}

.headings {
    background-color: rgb(95, 95, 95);
    color: white;
    font-size: 1.1em;
}
