.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0;
}

table {
    text-align: center;
    margin-bottom: 100px;
}

thead {
    font-size: 3em;
}