.container {
  width: 90%;
  max-width: 1000px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0px 19px 31px 21px rgba(143,161,176,1);
  -moz-box-shadow: 0px 19px 31px 21px rgba(143,161,176,1);
  box-shadow: 0px 19px 31px 21px rgba(143,161,176,1);
}

.table__header {
  padding: 20px 0;
  background: #fff;
  color: #26282e;
  font-family: 'Poppins', sans-serif;
  font-size: clamp(2.5rem, 5vw, 5rem);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.buttonTD {
  padding: 10px;
  background-color: #dbedff;
  transition: background-color .2s ease-in-out;
}

.empty {
  background-color: #dbedff;
}

button {
  border: none;
  background-color: transparent;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}

.buttonTD:hover, 
button:hover {
  background-color: #f0f7ff;
}

button:focus {outline:0;}

.deleteBtn {
  padding: 5px 10px;
}

.deleteBtn:hover {
  background-color: #f0bcbc;
}

table {
  border-collapse: collapse;
  background-color: #fff;
}

tr:first-child td {
  border-top: 0;
}

th:first-child {
  border-left: 0;
}

td:first-child {
  border-left: 0;
}

tr:last-child td {
  border-bottom: 0;
}

th:last-child {
  border-right: 0;
}
td:last-child {
  border-right: 0;
}

th, td {
  padding: 14px;
  margin: 0;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: clamp(1rem, 2.5vw, 2rem);
  background-color: #26282e;
  color: white;
  text-transform: uppercase;
}

td {
  font-size: clamp(1rem, 2.5vw, 2rem);
}

.circular--portrait {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 0 auto;
}

.circular--portrait img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: -20px;
}