.eachContact{
    display: flex;
    margin-left: 350px;
    padding: 30px 30px;

}
.eachContact img{
    width: 10%;
    padding-left: 20px;
}
.eachContact h2 {

   margin-left: 100px;
}
.eachContact p {
   margin-left: 100px;
}

