legend {
    margin: auto;
    text-align: center;
    font-size: 2em;
}

.img_table {
    width: 3vw;
    margin: 1px;
}

.tr_table {
border: black 1px solid;
height: 5vh;
box-sizing: border-box;
}

.name_table {
    width: 5vw;
    word-wrap: normal;
    text-align: justify;
}

.center {
    margin: auto;
}