.main{
  margin: 50px;
text-align: center;
padding: 20px;
}

h1{
  font-size: 2em;
  margin-bottom: 20px;
}

.mytable{
  margin: 30px auto;
  padding: 20px;
  width: 80%;
}

button{
  margin: 0 5px;
}

img{
  width: 100px;
}