.row {
  text-align: center;
}

.row img {
  width: 45%;
  height: 120px;
  object-fit: cover;
}

.row td {
  margin: 0;
  width: 250px;
  border: 2px solid rgba(38, 73, 64, 0.11);
  font-size: 1.5em;
}

.row button {
  background-color: rgb(151, 71, 71);
}