.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
}

.top-buttons button {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}
