.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
 img {
   width: auto;
   height: 100px;
 }
 table {
   margin: 0 auto;
 }
 button {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #17191b 5%, #010c1a 100%);
	background-color:#000;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Permanent Marker', cursive;
	font-size:15px;
	padding:6px 16px;
	text-decoration:none;
  text-shadow:0px 1px 0px #283966;
  margin: 5px;
}
button:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
button:active {
	position:relative;
	top:1px;
}
body {
  background: url('./background.jpg');
  font-family: 'Permanent Marker', cursive;


}
img {
  border-radius: 50px;
  border: 5px solid #4e6096;
}

th {
  color:blue;
  font-size:2.5em;
  padding:20px;
}
.top-buttons {
  margin-top: 50px;
  margin-right: 35px;
}

td {
  color:white;
  font-size: 1.8em;
  font-weight: 700;
  
}