.App {
  text-align: center;
  margin: 0 auto;
  width: 500px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  border: 2px solid black;
  margin: 10px 0;
}

.contact img {
  width: 100px;
  margin: 5px;
}

button {
  padding: 10px;
  background: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
