body{
  text-align: center;
  margin-top:50px;
}

.App {
  text-align: center;
}

.listas{
  list-style: none;
  margin: 50px auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.disp{
  display: inline-flex;
  justify-content: right;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
