.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img{
  height: 10%;
  width: 15%;
}




.iron-contacts{
  border: solid 2px black;
}

th{
  border: solid 2px black;
  width: 10px;
  height: fit-content;
}

.contact-row{
  border: solid 2px black;
}

td{
  border: solid 2px black;
}