.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 4em;
}

.App-intro {
    font-size: large;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    border-style: solid;
}

.row img {
    width: 10%;
    height: 10%;
    margin: 10px;
}

button {
    margin: 10px;
}