.card {
    height: 200px;
    background-color: whitesmoke;
    border-radius: 20px;
}

.card img {
    width: 100px;
    height: 100px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
}

.card td {
    padding: 1rem;
    border: none;
    font-size: 2rem;
    text-align: center;
}

.card button {
    background-color: red;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid black;
}