.list{
    margin: 20px;
}

.list td{
    border: 1px green;
}

.btn-delete {
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(187, 6, 6);
    color: wheat;
    margin-left: 10px;
    padding: 5px;
}
.btn-delete:hover{
    box-shadow: 2px 2px rgb(163, 163, 163);
  }