body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.contacttable img{
    width: auto;
    height: 80px;
}

.contacttable  {
  display: flex;
  justify-content: center;

}

.contacttable table {
  text-align: left;
 
}

.contacttable td {
  padding-right: 10px;
}

.add-random-button {
  display: flex;
  justify-content: center;
}

