body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: pink;
}

h1 {
  font-size: 4em;
  text-align: center;
}

table {
  margin: 0 auto; 
}

img {
  height: 150px;
  width:auto;
}

button {
  margin: 0 auto;
}