

.containerStyle {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
    background-color: black ;
}

.contactStyle {
    
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    margin: 20px;
    
}

h1 {
    margin: 30px;
    font-size: 35px;
}

p {
    margin: 10px;
}

img {
    margin: 10px;
}

.delete {
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    color: white;
    margin: 20px;
    background-color: red;

}
button {
    
    font-size: 15px;
    padding: 10px 20px;
    color: black;
    margin: 20px;
}