.App {
  text-align: center;
  background-color: blanchedalmond;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main .card {
  max-width: 80%;
  margin: 1rem auto;
  border: 1px solid #666;
  box-shadow: 5px 5px 10px -5px;
  transition: 0.4s;
}

.Main .card:hover {
  cursor: pointer;
  box-shadow: 5px 5px 15px 0px;
  background-color: #666;
}

.Main .badge {
  background-color: rgb(154, 160, 154);
  color: #fff;
  border-radius: 4px;
  width: inline-block;
}