* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-contact-container input, button{
  margin-top: 15px;
  width: 400px;
  padding: 10px 5px;
  border-radius: 10px;
  border: 1px solid black;
}

.create-contact-container button:hover{
  background-color: blue;

}