.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.contacts {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.controls {
  display: flex;
  gap: 0.5rem;
}
.personsTable {
  width: 400px;
}
.personsTable :nth-child(1) {
  font-weight: 900;
}
.personsTable td {
  width: fit-content;
}
.personsTable img {
  width: 40%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
