.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}

table, td, th {
  border: 1px solid black;

}

table {
  margin-top: 20px;
}

td, th{
  width: 120px;
}