body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 55px;
}

h1 {
  text-align: center;
}

.flex-buttons {
  display: flex;
  justify-content: center;
  flex: 1;
}

.flex-buttons button {
  margin: 5px;

  height: auto;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

thead tr th {
  display: inline-block;
  /* margin: 30px; */
  width: 100px;
  height: auto;
  margin-right: 50px;
}

.table-row td {
  display: inline-block;
  margin: 25px;
  width: 100px;
  height: auto;
}

button {
  background-color: #5b5ea6;

  border: none;
  color: white;
  font-weight: 700;
  border-radius: 5%;
}

.flex-button button {
  height: 25px;
}

.delete-btn {
  background-color: #ff6f61;

  border: none;
  color: white;
  font-weight: 700;
  height: 40px;
  width: 70px;
  border-radius: 5%;
}
