header{
  text-align: center;
}
header button {
  margin: 1rem;
  border:none;
  background-color: rgb(158, 158, 222);
  border-radius: 1rem;
  padding: 1%;
}

table {
  margin: auto;
  width: 50%;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 1rem;
}

th{
  font-size: 1.5rem;
}

img {
  max-width: 4rem;
}