.card {
    width: 500px;
}

.content {
    display: flex;
    align-items: center;
    margin: 15px;
}

.content img {
    width: 100px;
}

.content h3 {
    font-weight: 500;
    font-size: xx-large;
    width: 130px;
    margin: 0px 25px;
}

