.commandArea{
    display: flex;    
    flex-wrap: wrap;
}

.commandArea button:first-child{
    width: 100%;
    background-color: #A0E7E5;
}

.chosenCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

