body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}
.App {
  background-color: #333;
  color: aliceblue;
}
/* Style for the contact list title */
.contact-list-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

/* Style for the buttons */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #f5e5e5;
  color: #595353;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0c0909;
  color: #c4b7b7;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 3rem;
  border-bottom: 2px solid #333;
}

td {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

img {
  border-radius: 50%;
}