body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.title{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%
}
.buttons{
  display: flex;
}
.buttons button{
  margin: 0 1%;
  width: 100%
}
.contactTable{
  width: 100%;
  position: relative;
  right: 25%
}
.contactImage{
  width: 25%;
  position: relative;
  left: 30%;
}
.imageShift{
  position: relative;
  left: 15%
}

