.contacts-list .main-btn {
  margin: 20px 20px 20px 0;
  background-color: black;
  padding: 10px;
}

.contacts-list th {
  font-size: 1.5rem;;
}

.contacts-list td {
  padding: 0 30px;
}

.contacts-list button {
  border: none;
  color: white;
  border-radius: 10px;
}

.contacts-list img {
  height: 100px;
}

.contacts-list h1 {
  font-size: 2rem;
}