.ButtonPanel {
  margin: 20px 0;
}
.ButtonPanel button {
  margin: 0 10px 0 0;
}
.List {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(255, 160, 122);
  background: linear-gradient(
    180deg,
    rgba(255, 160, 122, 1) 0%,
    rgba(205, 92, 92, 1) 100%
  );
}
h1 {
  font-size: 36px;
}
