.table {
    margin: 50px;
    font-size: 1.5em;
}

.table th, td {
    border-bottom: solid 1px black;
    padding: 5px 40px;
    text-align: center;
}

.title {
    font-size: 4em;
}

button {
    margin: 0 30px;
}