.listing-shot {
    border: 1px solid #eaeff5;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 6px;
    background: #ffffff;
    padding: 0;
    display: inline-block;
    width: 100%;
    position: relative;
    transition: all ease 0.4s;
}

.listing-shot-img {
    position: relative;
    min-height: 220px;
    max-height: 420px;
    height: 100%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: 0 -59px;
}

.listing-shot-caption {
text-align: center;
    background: #fff;
    position: relative;
    padding: 5%;
}