.btn  button{
  margin: 10px;
}

.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    display: flex;
    justify-content:space-around
    
}


.info-th {
    display: flex;
    justify-content:space-around
}
