.picture {
    width: 70px;
    border-radius: 10px;
    border: 3px solid #881482;
}

td {
    padding: 10px 21px;
    text-align: center;
}

button.delete-btn {
    margin-right: 10px;
    background-color:#be95bb;
    border: 1px solid #881482;
    color: #881482;
    padding: 10px;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 2px;
    
    border-radius: 10px;
}