.contacts-container {
  margin-top: 40px;
  text-align: center;
  justify-content: center;
}

.contact-row {
  text-align: center;
}

.contact-row td {
  padding: 0 30px;
}

.contact-row img {
  width: 150px
}