.ContactsTable th,
.ContactsTable td {
    width: fit-content;
    text-align: center;
    padding: 10px;
}

.ContactsTable th {
    border-bottom: 2px solid black;
}

.ContactsTable td {
    border-bottom: 1px solid gray;
}
.buttons {
    display: flex;
}

.buttons button {
    margin: 10px;
}